# --- OS --- #
.DS_Store
Thumbs.db


# --- IntelliJ --- #
.idea/
*.iml
*.iws
*.ipr


# --- VS Code --- #
.vscode/

# --- Gradle --- #
.gradle/
build/


# --- Kotlin --- #
.kotlin


# --- Java --- #
*.class
*.log


# --- JavaFX --- #
out/

